<div *ngIf="isLoading">
    <app-spineer></app-spineer>
</div>
<div fxLayoutAlign="center center" fxFlexFill *ngIf="!isLoading">
    <mat-card fxFlex="35" style="background-color: rgb(252, 252, 252);">
        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="flex-start" style="background-color: #A03037; padding-top: 16px;">
            <div class="imgLogo">
                <img src="assets\education.svg" alt="">
            </div>
            <h2 class="title">HomeCart</h2>

        </div>
        <br>
        <div style="text-align: left;">
            <h2>Update Your Password</h2>
        </div>
        <form #regForm=ngForm (ngSubmit)="onSubmit()">
            <div *ngIf="password.touched && !password.valid">
                <div *ngIf="password.errors.minlength">
                    <small><mat-error>Password must contain 6 character.</mat-error></small>
                </div>
                <div *ngIf="password.errors.pattern">
                    <small><mat-error>must contain at least one letter, at least one number, and be longer than six charaters.</mat-error></small>
                </div>
            </div>
            <div *ngIf="confirmpassword.touched && !confirmpassword.valid">
                <div *ngIf="confirmpassword.errors.minlength">
                    <small><mat-error>Password must contain 6 character.</mat-error></small>
                </div>
                <div *ngIf="confirmpassword.errors.pattern">
                    <small><mat-error>Password & Confirm Password does not match.</mat-error></small>
                </div>
            </div>
            <div class="example-container">
                <div class="alert alert-danger text-justify" [hidden]="!error">{{error}}</div>
            </div>
            <mat-form-field appearance="outline" fxLayout="column" style="width: 100%;">
                <mat-label>Enter your Email</mat-label>
                <input email required matInput type="email" placeholder="Email" [(ngModel)]="form.email" name="email">
                <mat-icon matSuffix>email</mat-icon>

                <mat-error>Enter Valid Email Id</mat-error>
            </mat-form-field>
            <div class="example-container">
                <mat-form-field appearance="outline" style="width: 220px;">
                    <mat-label>Enter password</mat-label>
                    <input #password="ngModel" matInput required type="password" minlength="5" [(ngModel)]="form.newPassword" name="newPassword" pattern="^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{6,}$">
                    <mat-error>Please Enter Strong Password</mat-error>

                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 220px; padding-left: 4px;">
                    <mat-label>Confirm password</mat-label>
                    <input [(ngModel)]="form.confirmPassword" #pasword="ngModel" name="confirmPassword" matInput required type="password" #confirmpassword="ngModel" pattern="{{ password.value }}">

                    <mat-error required>Please Enter valid Password</mat-error>
                </mat-form-field>
            </div>
            <div class="text-right">
                <button type="submit" style="
                background-color: #a03037;
                border-radius: 5px;
                text-decoration-color:#FFFFFF;
                font-size: 20px;
                font-weight: 500;
                color: whitesmoke;
                width: 106px;
                height: 40px;
                " [disabled]="!regForm.valid" id="registrationBtn" mat-raised-button color="primary">update</button>
            </div>
        </form>
    </mat-card>
</div>