<div class="main-container">
    <div class="container">
        <div *ngIf="bookList.length!=0">
            <div class="title">Product
                <span style="font-size: 15px; font-family: Lato, Regular; color: rgb(139, 136, 136);">
              ({{ size }} &nbsp;Items)
              </span>
            </div>
            <div>
                <select id="sort" [ngModel]="selectedValue" (ngModelChange)="onChange($event)" style="float: right;
              height: 30px; width: 161px; padding-top: 0px; margin-top: -24px; padding: 5px;
              display: flex; margin-right: 74px; border: 1px solid #e0d6d6; outline: none; background-color: white;
              border-radius: 3px;
            " fxFlexAlign='end'>
            <option value="relevance">Sort by relevance</option>
                          <option value="mod1">Price: High to low</option>
                          <option value="mod2">Price: Low to High</option>
                          <option value="mod3">Newest: Arrival</option>
            </select>
            </div>
        </div>
        <br>
        <div class="alert alert-danger text-justify" *ngIf="bookList.length==0">There is not any Product to display please add some Product and approved it</div>

        <div class="list-books">

            <div *ngFor="let book of bookList| booksearchpipe:bookSearch">

                <mat-card style="height: 22.5em; width: 220px;  margin-right: 40px;" class="tooltip1">
                    <mat-card-title matTooltip="Product Image" (click)="Deatails(book.bookId)">
                        <img src="assets\bookimage\{{book.image}}" style="height: 150px; width: 90px;
                      margin-left: 55px; margin-right: 55px; padding-top: 20px; padding-bottom: 20px; " />
                    </mat-card-title>
                    <mat-card-content style="width: 16em; ">
                        <div class="out-of-stock " *ngIf="!book.noOfBooks ">Out Of stock</div>
                        <div class="bookname ">{{ book.bookName }}</div>


                        <span class="tooltiptext">
                          <h2 style="text-align: left; padding-left: 10px;"> Details</h2>
                          {{ book.bookDetails }}
                        </span>

                        <div class="authorname ">Seller: {{ book.authorName }}</div>
                        <div class="price ">Rs. {{ book.price }}</div>
                        <div class="availablity " style="color: rgb(163, 43, 6); " *ngIf="book.noOfBooks < 5 && book.noOfBooks; else elsecondition ">
                            Only {{ book.noOfBooks }} left hurry up
                        </div>
                        <ng-template #elsecondition>
                            <div class="availablity " style="color: rgb(2, 110, 2); " *ngIf="book.noOfBooks ">
                                Available : {{ book.noOfBooks }}
                            </div>
                            <div style="height: 26px; " *ngIf="!book.noOfBooks "></div>
                        </ng-template>
                        <div class="cart-buttons " *ngIf="book.noOfBooks && value[book.bookId] !=book.bookId ">
                            <div>
                                <button class="addtobag " (output)="getUpdatedNotes($event)" (click)="addtobag(book.bookId)" #clickState mat-button>ADD TO BAG</button>
                            </div>
                            <div>
                                <button (click)="addtoWish(book.bookId)" style="border: 1px solid #e0d6d6;
                              outline: none;
                              width: 83px;
                              height: 35px;
                              background-color: white;
                              border-radius: 3px;">WISHLIST</button>
                            </div>
                        </div>
                        <div class="addedbtn " *ngIf="book.noOfBooks && value[book.bookId]==book.bookId ">
                            <button style=" height: 32px; width: 191px; background-color: #3371b5;
                          border-radius: 2px; color: whitesmoke; text-align: center; " mat-button>
                            ADDED TO BAG
                    </button>
                        </div>
                        <div class="addedbtn " (click)="addtoWish(book.bookId)" *ngIf="!book.noOfBooks">
                            <button style=" height: 34px; width: 191px; border-radius: 0px; display: flex;
                          align-items: center; justify-content: center;
                          border: 1px solid #e0d6d6;
                              outline: none; border-radius: 2px;
                            opacity: 1; " mat-button>WISHLIST</button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="container text-center" >
        <div class="pagination" *ngIf="bookList.length!=0">
            <a  (click)="previos($event)" style=" margin-right: 12px; border-radius: 40px;  border: 1px solid  #e0d6d6; padding-right: 10px;" href="#" href="#">
                 </a>
                    <a *ngFor="let p of totalPage; let i=index " href="" fxFlexAlign="center" (click)="SetPage(i,$event)" [ngClass]="{'active':i==page}">{{i+1}}</a>
                    <a (click)="next($event)" style=" margin-right: 12px; border-radius: 40px;  border: 1px solid #e0d6d6; padding-right: 10px;" href="#" href="#">></a>
        </div>
    </div>
</div>