<div *ngIf="sellerBooks && !orderBooks">

<div class="main-container">
    <div class="container">
        <div class="addIcon"  style="display: flex; justify-content: flex-end; margin: 2rem 0.5rem;" *ngIf="sellerBooks">
            <mat-icon class="icon-display" id="addBtn" (click)="addBook()" matTooltip="Add Book">add</mat-icon>
        </div>
        <div class="alert alert-danger text-justify" *ngIf="books.length==0">Nothing to display please add some Product By clicking on Add button</div>

        <div class="list-books">
            <div *ngFor=" let book of books | booksearchpipe:bookSearch">
                <mat-card style="display: flex;flex-direction: row; width: auto; padding: 1rem;" matTooltip="{{ book.bookDetails }}">

                    <div>
                        <mat-card-title style="padding: 1rem;" (click)="openImageDialog(book.bookId)" matTooltip="Update Image">
                            <img src="assets\bookimage\{{book.image}}" style="height: 13rem; width: 10rem; padding: 16px 0px 16px 16px ;" />
                        </mat-card-title>
                    </div>
                    <div >
                        <mat-card-content style="display: flex;flex-direction: column;flex-wrap: nowrap;width: 25rem; margin-top: 10px; margin-bottom: 0px;">
                            <div class="out-of-stock" *ngIf="!book.noOfBooks">Out Of stock</div>
                            <div class="bookname">Product Name : {{ book.bookName }}</div>
                            <div class="authorname">Seller name : {{ book.authorName }}</div>
                            <div class="price">Rs. {{ book.price }}</div>
                            <div class="noofbooks">No of Items : {{ book.noOfBooks }}</div>
                            <div class="status" *ngIf="book.status == 'OnHold'">Status : <label style="color: yellow;">{{ book.status }}</label> </div>
                            <div class="status" *ngIf="book.status == 'approved'">Status : <label style="color: green;">{{ book.status }}</label> </div>
                            <div class="status" *ngIf="book.status == 'rejected'">Status : <label style="color: red;">{{ book.status }}</label> </div>
                            <div class="description">Description : {{ book.bookDetails }}</div>

                            <div style="display: flex; justify-content: flex-start; margin-left: 10px;">
                                <div style="margin-left: 10px;">
                                    <button id="editBtn" matTooltip="Edit Book" style="width: 5rem; outline: none;color: white;border-radius: 0px; background-color: rgba(131, 4, 4, 0.8);" (click)="editBook(book)" mat-button>
                                        Edit
                                    </button>
                                </div>
                                <div style="margin-left: 10px;">
                                    <button matTooltip="Delete Book" id="deleteBtn" style="width: 5rem; color: white; outline: none; border-radius: 0px; background-color: rgba(131, 4, 4, 0.8);" (click)="deleteBook(book.bookId)" mat-button>
                                        DELETE
                                    </button>
                                </div>
                                <div style="margin-left: 10px;" *ngIf="book.status != 'approved' && book.status != 'OnHold' ">
                                    <button matTooltip="Verify Book" id="verifyBtn" style="width: 5rem; color: white; outline: none; border-radius: 0px; background-color: rgba(131, 4, 4, 0.8);" (click)="verifyBook(book.bookId)" mat-button>
                                        Verify
                                    </button>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
</div>

<div *ngIf="!sellerBooks && orderBooks">
    <app-orderstatus></app-orderstatus>
</div>